body{
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/back1.jpg');

}
.navbar-background{
    background-color: #21409a;
    padding-top: 0px;
    background: linear-gradient(to right, rgb(33, 64, 154), rgb(0, 2, 19));
    padding-bottom: 0px;
    box-shadow: 1px 1px 3px 0px #132662;
}
.logo-img{
    height: 70px;
}
.header-items a{
    padding: 8px 30px;
    color: white!important;
    margin: 15px 15px;
}
.header-items a:hover{
    background-color: #ed3338;
    padding: 8px 30px;
    border-radius: 5px;
    height: 40px;
    margin: 15px 15px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.slider-section{
    height: 502px;
    width: 100%;
    margin-top: 80px;
}
.wrapper-footer{
    background: linear-gradient(to left, rgb(4, 30, 105), rgb(0, 2, 19));
}


::-webkit-scrollbar { 
    display: none; 
}

.footer-linker{
    color: white;
    padding: 10px 20px;
    margin: 20px 25px;
}
.footer-linker p{
    margin: 0px;
}
.footer-linker:hover{
    background-color: #ed3338;
    padding: 10px 20px;
    margin: 20px 25px;
}
.summery-section{
    display: flex;
    justify-content: center;
}
.social-icon-section{
    display: flex;
    justify-content: center;
}
.icon-linker{
    padding: 5px 20px;
    font-size: 20px;
    color: white;
}
.icon-linker:hover{
    padding: 5px 10px;
    font-size: 20px;
    color: #ed3338;
    margin: 0px 10px;
}
.copyright-section{
    display: flex;
    justify-content: center;
}
.copyright-text{
    padding: 20px;
    color: white;
}
.selected-active{
    background-color: #ed3338;
    border-radius: 5px;
}
.home-custom-sticky-nav{
    position: -webkit-sticky;
    position: sticky;
    top:80px;
    margin-top: 10px;
    background-color: rgb(1, 3, 23);
    min-height: 85px;
    margin: 0px;
    background: linear-gradient(to left, rgb(4, 30, 105), rgb(0, 2, 19));
    padding-top: 20px;
    box-shadow: 1px 1px 3px 0px #58595f;
}
.home-custom-sticky-nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    height: 45px;
    cursor: pointer;
}
.home-custom-sticky-nav ul li{
    padding: 10px 10px;
    background-color: rgb(46, 37, 179);
    /* background: linear-gradient(to right, rgb(238, 51, 56), rgba(157, 54, 111, 0.88)); */
    min-height: 45px;
    border-radius: 2px;
    float: left;
}
.home-custom-sticky-nav ul li:hover{
    padding: 10px 10px;
    background-color: #2b52c3;
    min-height: 45px;
    border-radius: 2px;
    /* background: linear-gradient(to right, rgb(86, 68, 189), rgb(213, 4, 251)); */
}
.custom-sticky-nav{
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    margin-top: 10px;
    background-color: rgb(251, 251, 255);
    min-height: 74px;
    margin: 0px;
    /* background: linear-gradient(to left, rgb(4, 30, 105), rgb(0, 2, 19)); */
    padding-top: 20px;
    z-index: 1;
    box-shadow: 1px 1px 5px 0px #989797;
}
section ul{
    list-style: none;
}
section ul li{
    margin-left: 10px;
}
.custom-sticky-nav ul{
    display: inline-block;
    list-style: none;
}
.home-custom-sticky-nav ul{
    display: inline-block;
    list-style: none;
}
.custom-sticky-nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #162c6e;
    min-height: 45px;
    cursor: pointer;
}
.custom-sticky-nav ul li{
    padding: 5px 10px;
    /* background-color: rgb(46, 37, 179); */
    /* background: linear-gradient(to right, rgb(238, 51, 56), rgba(157, 54, 111, 0.88)); */
    min-height: 35px;
    border-radius: 5px;
    margin: 0px 7px;
    float: left;

}
.custom-sticky-nav ul li:hover{
    border-radius: 5px;
    text-decoration: none;
    background: rgb(227, 220, 255);
    transition: .2s ease-in-out;
}
.custom-sticky-nav ul li>.selected-nav:hover{
    border-radius: 2px;
    text-decoration: none;
    background: rgba(24, 48, 118, .1);
    transition: .2s ease-in-out;
    background-color: #152967!important;
}
.selected-nav{
    background-color: #12255f!important;
}
.selected-nav:hover{
    transform: none;
    background-color: rgba(151, 130, 202, 0.1);
}
.selected-nav a{
    color: #fbfbff!important;
    text-decoration: underline; 
}
/*.second-nav-background{
    position: absolute;
    background-color: red;
    height: 300px;
}*/
/*slider*/
.carousel-inner {
    height: 502px;
}
.slider-img{
    width: 100%;
    height: 540px;
    object-fit: cover;
}
.box-wrapper ul{
    display: inline-block!important;
}
.product-box{
    width: 100%;
    min-height: 1030px;
}
.product-box>li{
    width: 45%;
    float: left;
    padding: 30px 10px;
    text-align: left;
    background-color: #e3dcff;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #c1bdfb;
    margin: 0px 22px 35px;
    height: 250px;
    position: relative;
}
.product-box>li p{
    margin: 5px;
    font-size: 14px;
}
.product-box>li :nth-child(2){
    color: blue;
}
.product-box>li :nth-child(3){
    font-weight: 700;
}
.product-box>li :nth-child(4){
    font-weight: 700;
}
.product-box>li :nth-child(5){
    font-weight: 500;
    display: none;
}
.product-box>li :nth-child(6){
    font-weight: 500;
}
.product-img{
    width: 190px;
    height: 190px;
    object-fit: contain;
    padding: 0 10px;
    margin-bottom: 20px;
}
.brands .product-img{
    width: 170px;
    height: 170px;
    object-fit: contain;
}
.brands .product-box>li {
    width: 21%;
    float: left;
    padding: 30px;
    text-align: left;
    background-color: #ffffff;
    border-radius: 5px;
    /* border: 1px solid #bbb1f1; */
    margin: 20px;
    box-shadow: 0px 0px 1px 1px #a5a1e2;
    display: flex;
    justify-content: center;
    height: 230px;
}
.home-content-body{
    min-height: 1200px;
    width: 80%;
    margin: 0 auto;
    background-color: #f4f3ff;
    padding: 20px;
}
.content-body{
    min-height: 1000px;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}
.content-body h2{
    color: #172c6f;
}
.custom-pagination > ul{
    display: inline-flex!important;
}
.custom-pagination >ul >li{
    margin-left: 0px;
}
.page-item.active .page-link {
    z-index: 0;
    color: #fff;
    background-color: #031c63;
    border-color: #031c64;
}
.page-item.active .page-link:hover{
    color: white;
}
.page-link {    
    color: #031c64;
    border: 1px solid #bbaeef;
}
.page-link:hover {
    color: #031c63;
    background-color: #ebeff3;
    border-color: #f4f3ff;
    border: 1px solid #031c64;
}

.contact-info{
    font-size: 15px;
    color: #162b6b;
    margin-bottom: 5px;
}
.contact-box{
    float: left;
    padding: 10px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}
.contact-title{
     font-size: 35px;
     color: #162b6b;
     padding:15px 30px 5px;
     margin-bottom: 0px;
}
.map-box{
    padding: 0px 30px;
    margin-top: 30px;
}
.map-box iframe{
    padding: 5px;
    box-shadow: 0px 0px 1px 1px #a5a1e2;
    border-radius: 10px;
    background:rgb(255, 255, 255);
}
.floating-divs>div:nth-child(1){
    width: 180px;
    height: 180px;
    background-color: white;
    margin-top: 56%;
    box-shadow: inset 0px 0px 1px 1px #c1bdfb;
}
.floating-divs>div:nth-child(2){
    width: 180px;
    height: 200px;
    background-color: white;
    margin-top: 20%;
    box-shadow: inset 0px 0px 1px 1px #c1bdfb;
}
.floating-divs>div:nth-child(3){
    width: 180px;
    height: 300px;
    background-color: white;
    margin-top: 20%;
    box-shadow: inset 0px 0px 1px 1px #c1bdfb;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("../images/mobileBtn.png")!important;
}
.divider{
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #162d44;
}
.contact-custom-form{
    box-shadow: 0px 0px 2px 1px #c1bdfb;
    padding: 40px;
    background-color: #e3dcff;
    border-radius: 5px;
    margin: 50px auto;
    /*border: 1px solid #5c76d6;*/
}
.contact-custom-form label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #152866;
}
.contact-form-title{
    font-size: 30px;
    color: #162b6b;
    font-weight: bold;
    padding-bottom: 10px;
}
.form-control {
    color: #162c6e;
    border: 1px solid #182e74;
}
.submit-btn{
    background-color: #132560;
    color: white;
    margin-top: 15px;
}
.submit-btn:hover,.submit-btn:focus{
    background-color: #050c28;
    color: white;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #132660;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(20, 39, 101, .1);
}
.map-box iframe{
    width: 520px;
    height: 350px;
}
.add-product-section{
    padding: 50px 80px;
}
.advance-search-section{
    padding: 50px 80px;
}
.admin-btn .submit-btn{
    margin-right: 30px;
    margin-top: 0px;
}
.upload-section{
    display: inline-block;
}
.admin-page .content-body{
    width: 100%;
    margin: 80px 0px 0px 0px;
}
.admin-product-grid{
    padding: 20px 80px;
}
.cancel-btn{
    color: white;
    background-color: #ed3338;
}
.cancel-btn:hover,.cancel-btn:focus{
    background-color: #ab1115;
    outline: none;
    box-shadow: none;
}
.contact-custom-form h4{
    color: #152866;
}
.product-id{
    background-color: #152866;
    padding: 10px;
    width: 200px;
    margin: 20px 0px;
}
.product-id h5,.product-id span{
    color: white;
    display: inline-block;
    padding: 5px;

}
.upload-picture{
    width: 100%;
    height: 90%;
    background-color: rgba(20, 39, 99, 0.49);
    opacity: 0;
    position: absolute;
    cursor: pointer;
    top: 0;
}
.upload-picture:hover{
    opacity: 1;
}
.upload-icon{
    font-size: 30px;
    color: white;
    width: 100%;
    top: 60px;
    position: absolute;
    left: 80px;
}
.Upload-tag{
    font-size: 25px;
    color: white;
    width: 100%;
    top: 100px;
    position: absolute;
    left: 55px;
}
.close-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #ed3338!important;
    transition: font-size .1s;
}

.edit-btn{
    position: absolute;
    right: 50px;
    top: 18px;
    font-size: 23px;
    cursor: pointer;
    color: blue;
    transition: font-size .1s;
}
.edit-btn:hover{
    text-shadow: 0px 0px blue;
    font-size: 24px;

}
.close-btn:hover{
    text-shadow: 0px 0px  #cc1b20!important; 
    font-size: 26px;
}
/*.admin .product-box>li{
    background-color: white!important;
}
*/
.login-wrapper{
    padding: 50px;
    width: 400px;
    margin: 10% 35%;
    height: auto;
    border-radius: 5px;
    background-color: #e3dcff;
    box-shadow: 0px 0px 1px 1px #c1bdfb;
}
.profile-img {
    height: 200px;
    width: 200px;
    margin: 29px 115px 34px;
    font-size: 215px;
    color: #700110;
    border-radius: 50%;
}
.form-container {
    padding: 15%;
    background-color: white;
    border-radius: 5px;
}
.profile-info {
    margin: 5px 0px;
}
.font-color{
    color: #162b6b;
}
.profile-info p {
    font-weight: bold;
    margin-right: 5px;
}
.profile-info span {
    font-weight: 500;
}











@media  (min-width: 800px) and (max-width:1200px) {
    .home-custom-sticky-nav ul li {
        margin-bottom: 10px;
    }
    .brands .product-box>li {
        width: 30%;
        margin: 10px;
        display: flex;
        justify-content: center;
    }
    .product-img {
        width: 175px;
        height: 190px;
    }
    .brands .product-img {
        width: 175px;
        height: 175px;
    }
    .product-box>li {
        width: 43%;
    }
    .login-wrapper{
    margin: 10% 35%;
}
}
@media  (min-width: 850px) and (max-width:1250px) {
    .map-box iframe{
    width: 400px!important;
    height: 350px!important;
}    
}

@media  (min-width: 651px) and (max-width:1000px) {
    .footer-linker {
        padding: 10px 0px;
        margin: 20px 15px;
    }   
    .home-content-body{
        width: 100%;
    }
    .content-body{
        min-height: 1000px;
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .product-box>li {
        width: 47.5%;
        float: left;
        padding: 30px 0px;
        text-align: left;
        background-color: #e3dcff;
        border-radius: 5px;
        box-shadow: 0px 0px 1px 1px #c1bdfb;
        margin: 0px 5px 10px;
        height: 220px;
    }
    .product-img {
        width: 160px;
        height: 160px;
        object-fit: contain;
        margin-bottom: 30px;
    }
    .floating-divs>div:nth-child(1){
        width: 165px;
    }
    .floating-divs>div:nth-child(2){
        width: 165px;
    }
    .floating-divs>div:nth-child(3){
        width: 165px;
    }
    .brands .product-box>li {
        width: 26%;
        padding: 30px;
        margin: 23px;
        height: 210px;
    }
    .brands .product-img {
        width: 160px;
        height: 150px;
        object-fit: contain;
    }
    .home-custom-sticky-nav ul li {
        margin-bottom: 15px;
    }
    section ul {
        padding: 0;
    }
    .custom-sticky-nav ul li {
        margin: 5px 7px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        width: 30%;
    }
    .map-box iframe{
        width: 350px;
        height: 350px;
    }
     .login-wrapper{
        margin: 15% 25%;
    }

}
@media  (min-width: 370px) and (max-width:650px) {
    .product-box>li {
        width: 100%;
        float: left;
        padding: 15px 10px;
        text-align: left;
        background-color: #e3dcff;
        border-radius: 5px;
        box-shadow: 0px 0px 1px 1px #c1bdfb;
        margin: 0px 0px 15px;
        height: 210px;
    }
    .product-img {
        width: 170px;
        height: 160px;
        object-fit: contain;
    }
    .content-body {
        min-height: 1000px;
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .floating-divs{
        display: none;
    }
    .carousel-inner {
        height: 310px;
    }
    .slider-section {
        height: 310px;
    }
    .home-content-body {
        width: 100%;
        padding: 20px 0px;
    }
    .home-custom-sticky-nav ul {
        padding-right: 0;
        padding-left: 0;

    }
    .home-custom-sticky-nav ul li {
        margin-bottom: 15px;
        padding: 5px 6px;
        min-height: 35px;
    }
    .home-custom-sticky-nav ul li:hover {
        margin-bottom: 15px;
        padding: 5px 6px;
        min-height: 35px;
    }
    .custom-sticky-nav ul {
        padding-left: 0;
    }
    .custom-sticky-nav ul li {
        margin: 0px 2px 5px;
    }
    .brands .product-box>li {
        width: 44%;
        float: left;
        padding: 10px 5px;
        text-align: left;
        background-color: #ffffff;
        border-radius: 5px;
        /* border: 1px solid #bbb1f1; */
        margin: 20px 10px;
        box-shadow: 0px 0px 1px 1px #a5a1e2;
        display: flex;
        justify-content: center;
        height: 160px;
    }
    .brands .product-img {
        width: 130px;
        height: 130px;
        object-fit: contain;
    }
    .footer-linker {
        padding: 10px 0px;
        margin: 15px 10px;
    }
    .map-box {
        padding: 0px;
    }
    .login-wrapper{
        width: 355px;
        margin: 25% 3%;
    }

}
@media  (min-width: 300px) and (max-width:369px) {
    .product-box>li {
        width: 100%;
        float: left;
        padding: 15px 10px;
        text-align: left;
        background-color: #e3dcff;
        border-radius: 5px;
        box-shadow: 0px 0px 1px 1px #c1bdfb;
        margin: 0px 0px 35px;
        height: 210px;
    }
    .product-img {
        width: 140px;
        height: 160px;
        object-fit: contain;
    }
    .content-body {
        min-height: 1000px;
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .floating-divs{
        display: none;
    }
    .carousel-inner {
        height: 310px;
    }
    .slider-section {
        height: 310px;
    }
    .home-content-body {
        width: 100%;
        padding: 20px 0px;
    }
    .home-custom-sticky-nav ul {
        padding-right: 0;
        padding-left: 0;
    }
    .home-custom-sticky-nav ul li {
        margin-bottom: 15px;
        padding: 5px 6px;
        min-height: 35px;
    }
    .home-custom-sticky-nav ul li:hover {
        margin-bottom: 15px;
        padding: 5px 6px;
        min-height: 35px;
    }
    .custom-sticky-nav ul {
        padding-left: 0;
    }
    .custom-sticky-nav ul li {
        margin-bottom: 15px;
    }
    .brands .product-box>li {
        width: 43%;
        float: left;
        padding: 15px 0px;
        text-align: left;
        background-color: #ffffff;
        border-radius: 5px;
        /* border: 1px solid #bbb1f1; */
        margin: 20px 10px;
        box-shadow: 0px 0px 1px 1px #a5a1e2;
        display: flex;
        justify-content: center;
        height: 120px;
    }
    .brands .product-img {
        width: 90px;
        height: 90px;
        object-fit: contain;
    }
    .custom-sticky-nav ul li {
        margin: 0px 2px 5px;
    }
    .footer-linker {
        padding: 10px 0px;
        margin: 15px 10px;
    }
    .icon-linker {
        padding: 5px 10px;
    }
    .map-box {
        padding: 0px;
    }
    .map-box iframe{
        width: 250px;
        height: 250px;
    }
    .login-wrapper{
        margin: 40% 8%;
        width: 300px;
    }
}
@media  (min-width: 370px) and (max-width:400px){
    .map-box iframe{
        width: 300px;
        height: 300px;
    }
}
@media  (min-width: 400px) and (max-width:500px){
    .map-box iframe{
        width: 345px;
        height: 345px;
    }
}
@media  (min-width: 501px) and (max-width:600px){
    .map-box iframe{
        width: 345px;
        height: 345px;
    }
}