body{
	font-family: 'Roboto', sans-serif;
    background-image: url('../images/back1.jpg');

}
.navbar-background{
    background-color: #21409a;
    padding-top: 0px;
    background: linear-gradient(to right, rgb(33, 64, 154), rgb(0, 2, 19));
    padding-bottom: 0px;
    box-shadow: 1px 1px 3px 0px #132662;
}
.logo-img{
	height: 70px;
}
.header-items a{
	padding: 8px 30px;
	color: white!important;
	margin: 15px 15px;
}
.header-items a:hover{
	background-color: #ed3338;
    padding: 8px 30px;
    border-radius: 5px;
    height: 40px;
    margin: 15px 15px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.slider-section{
    height: 502px;
    width: 100%;
    margin-top: 80px;
}
.wrapper-footer{
	background: linear-gradient(to left, rgb(4, 30, 105), rgb(0, 2, 19));
}


::-webkit-scrollbar { 
    display: none; 
}

.footer-linker{
	color: white;
    padding: 10px 20px;
    margin: 20px 25px;
}
.footer-linker p{
	margin: 0px;
}
.footer-linker:hover{
	background-color: #ed3338;
	padding: 10px 20px;
    margin: 20px 25px;
}
.summery-section{
	display: flex;
	justify-content: center;
}
.social-icon-section{
	display: flex;
	justify-content: center;
}
.icon-linker{
	padding: 5px 20px;
    font-size: 20px;
    color: white;
}
.icon-linker:hover{
	padding: 5px 10px;
    font-size: 20px;
    color: #ed3338;
    margin: 0px 10px;
}
.copyright-section{
	display: flex;
	justify-content: center;
}
.copyright-text{
	padding: 20px;
    color: white;
}
.selected-active{
	background-color: #ed3338;
	border-radius: 5px;
}
.home-custom-sticky-nav{
    position: -webkit-sticky;
    position: sticky;
    top:80px;
    margin-top: 10px;
    background-color: rgb(1, 3, 23);
    min-height: 85px;
    margin: 0px;
    background: linear-gradient(to left, rgb(4, 30, 105), rgb(0, 2, 19));
    padding-top: 20px;
    box-shadow: 1px 1px 3px 0px #58595f;
}
.home-custom-sticky-nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    height: 45px;
    cursor: pointer;
}
.home-custom-sticky-nav ul li{
    padding: 10px 10px;
    background-color: rgb(46, 37, 179);
    /* background: linear-gradient(to right, rgb(238, 51, 56), rgba(157, 54, 111, 0.88)); */
    min-height: 45px;
    border-radius: 2px;
    float: left;
}
.home-custom-sticky-nav ul li:hover{
    padding: 10px 10px;
    background-color: #2b52c3;
    height: 45px;
    border-radius: 2px;
    /* background: linear-gradient(to right, rgb(86, 68, 189), rgb(213, 4, 251)); */
}
.custom-sticky-nav{
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    margin-top: 10px;
    background-color: rgb(251, 251, 255);
    min-height: 74px;
    margin: 0px;
    /* background: linear-gradient(to left, rgb(4, 30, 105), rgb(0, 2, 19)); */
    padding-top: 20px;
    z-index: 1;
    box-shadow: 1px 1px 5px 0px #989797;
}
section ul{
    list-style: none;
}
section ul li{
    margin-left: 10px;
}
.custom-sticky-nav ul{
	display: inline-block;
	list-style: none;
}
.home-custom-sticky-nav ul{
    display: inline-block;
    list-style: none;
}
.custom-sticky-nav ul li a{
	text-decoration: none;
    font-size: 14px;
    color: #162c6e;
    min-height: 45px;
    cursor: pointer;
}
.custom-sticky-nav ul li{
    padding: 5px 10px;
    /* background-color: rgb(46, 37, 179); */
    /* background: linear-gradient(to right, rgb(238, 51, 56), rgba(157, 54, 111, 0.88)); */
    min-height: 35px;
    border-radius: 5px;
    margin: 0px 7px;
    float: left;

}
.custom-sticky-nav ul li:hover{
	border-radius: 5px;
    text-decoration: none;
    background: rgb(227, 220, 255);
    transition: .2s ease-in-out;
}
.custom-sticky-nav ul li>.selected-nav:hover{
    border-radius: 2px;
    text-decoration: none;
    background: rgba(24, 48, 118, .1);
    transition: .2s ease-in-out;
    background-color: #152967!important;
}
.selected-nav{
    background-color: #12255f!important;
}
.selected-nav:hover{
    transform: none;
    background-color: rgba(151, 130, 202, 0.1);
}
.selected-nav a{
    color: #fbfbff!important;
    text-decoration: underline; 
}
/*.second-nav-background{
    position: absolute;
    background-color: red;
    height: 300px;
}*/
/*slider*/
.carousel-inner {
    height: 502px;
}
.slider-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-wrapper ul{
    display: inline-block!important;
}
.product-box{
    width: 100%;
    min-height: 1030px;
}
.product-box>li{
    width: 31.8%;
    float: left;
    padding: 10px;
    text-align: left;
    background-color: #e3dcff;
    border-radius: 5px;
    /*border: 1px solid #bbb1f1;*/
    margin-bottom: 10px;
    box-shadow: 0px 0px 1px 1px #c1bdfb;
}
.product-box>li p{
    margin: 5px;
    font-size: 14px;
}
.product-box>li :nth-child(2){
    color: blue;
}
.product-box>li :nth-child(3){
    font-weight: 700;
}
.product-box>li :nth-child(4){
    font-weight: 700;
}
.product-box>li :nth-child(5){
    font-weight: 500;
    display: none;
}
.product-box>li :nth-child(6){
    font-weight: 500;
}
.product-img{
    width: 140px;
    height: 140px;
    object-fit: contain;
}
.brands .product-box>li {
    width: 21%;
    float: left;
    padding: 30px 40px;
    text-align: left;
    background-color: #ffffff;
    border-radius: 5px;
    /* border: 1px solid #bbb1f1; */
    margin: 20px;
    box-shadow: 0px 0px 1px 1px #a5a1e2;
}
.home-content-body{
    min-height: 1200px;
    width: 80%;
    margin: 0 auto;
    background-color: #f4f3ff;
    padding: 20px;
}
.content-body{
    min-height: 1000px;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}
.content-body h2{
    color: #172c6f;
}
.custom-pagination > ul{
    display: inline-flex!important;
}
.custom-pagination >ul >li{
    margin-left: 0px;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #031c63;
    border-color: #031c64;
}
.page-link {    
    color: #031c64;
    border: 1px solid #bbaeef;
}
.page-link:hover {
    color: #031c63;
    background-color: #ebeff3;
    border-color: #f4f3ff;
    border: 1px solid #031c64;
}

.contact-info{
    font-size: 15px;
    color: #162b6b;
    margin-bottom: 5px;
}
.contact-box{
    float: left;
    padding: 10px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}
.contact-title{
     font-size: 35px;
     color: #162b6b;
     padding:15px 30px 5px;
     margin-bottom: 0px;
}
.map-box{
    padding: 0px 30px;
}
.map-box iframe{
    padding: 5px;
    box-shadow: 0px 0px 1px 1px #a5a1e2;
    border-radius: 10px;
    background: rgb(244, 243, 255);
}
.floating-divs>div:nth-child(1){
    width: 180px;
    height: 180px;
    background-color: white;
    margin-top: 56%;
    box-shadow: inset 0px 0px 1px 1px #c1bdfb;
}
.floating-divs>div:nth-child(2){
    width: 180px;
    height: 200px;
    background-color: white;
    margin-top: 20%;
    box-shadow: inset 0px 0px 1px 1px #c1bdfb;
}
.floating-divs>div:nth-child(3){
    width: 180px;
    height: 300px;
    background-color: white;
    margin-top: 20%;
    box-shadow: inset 0px 0px 1px 1px #c1bdfb;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("../images/mobileBtn.png")!important;
}
@media  (min-width: 320px) and (max-width:500px) {
.footer-linker {
    padding: 10px 0px;
    margin: 20px 15px;
}
}

@media  (min-width: 700px) and (max-width:1000px) {
.footer-linker {
    padding: 10px 0px;
    margin: 20px 15px;
}   
.home-content-body{
    width: 100%;;
}
.content-body{
    min-height: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
}
.product-box>li {
    width: 47.5%;
}
.floating-divs>div:nth-child(1){
    width: 165px;
}
.floating-divs>div:nth-child(2){
    width: 165px;
}
.floating-divs>div:nth-child(3){
    width: 165px;
}
.brands .product-box>li {
    width: 27%;
    padding: 30px;
    margin: 23px;
}
.home-custom-sticky-nav ul li {
    margin-bottom: 15px;
}
section ul {
    padding: 0;
}
.custom-sticky-nav ul li {
    margin: 5px 7px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    width: 30%;
}

}
